@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
    @model TrainingFPTCo.Models.TopicViewModel
@{
    ViewData["title"] = "Topics";
    ViewData["breadcrumb"] = "Home";
    ViewData["breadcrumb_active"] = "Topics";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    bool saveStatus = Convert.ToBoolean(TempData["saveStatus"]);
    bool update = Convert.ToBoolean(TempData["saveUpdate"]);

    var Timestamp = new DateTimeOffset(DateTime.UtcNow).ToUnixTimeSeconds();
}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="text-center"> This is Topic page !</h3>
        <a class="btn btn-primary" style=" background:black" href="@Url.Action("Add", "Topic")"> Add new Topic</a>
        <form asp-action="Index" method="get" class="my-3">
            <div class="form-actions no-color">
                <p class="mb-0">
                    Find by Name:<input value="@ViewData["currentFilter"]" type="text" name="SearchString" />
                    <span> | </span>
                    <select name="FilterStatus">
                        <option value=""> -- Status --</option>
                        @if (ViewBag.FilterStatus == "Active")
                        {
                            <option value="Active" selected="selected"> Active </option>
                        }
                        else
                        {
                            <option value="Active"> Active </option>
                        }
                        @if (ViewBag.FilterStatus == "Deactive")
                        {
                            <option value="Deactive" selected="selected"> Deactive </option>
                        }
                        else
                        {
                            <option value="Deactive"> Deactive </option>
                        }
                    </select>

                    <span> | </span>
                    <button type="submit" style=" background:black" class="btn btn-primary btn-sm mb-0"> Filter and Search </button>
                    <span> | </span>
                    <a asp-action="Index"> Back To list </a>
                </p>
            </div>

        </form>
        @if (TempData["saveStatus"] != null)
        {
            @if (saveStatus)
            {
                <div class="text-success my-3"> Add Successfully</div>
            }
            else
            {
                <div class="text-danger my-3"> Add Failure</div>
            }
        }
        @if (TempData["saveUpdate"] != null)
        {
            @if (update)
            {
                <div class="text-success my-3"> Edit Successfully</div>
            }
            else
            {
                <div class="text-danger my-3"> Edit Failure</div>
            }
        }
        <table class="table table-bordered table-striped mt-3">
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Course</th>
                    <th>Document</th>
                    <th>AttchFile</th>
                    <th>PosterTopic</th>
                    <th>Download Document</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th width="10%" class="text-center" colspan="3">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TopicDetailsList)
                {
                    <tr class="row-topic-@item.Id">
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.ViewCourseName</td>
                        <td>
                            <iframe src="/uploads/documents/@item.ViewDocumentTopic" width="250" height=auto></iframe>

                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.ViewAttachFileTopic))
                            {
                                <embed src="/uploads/videos/@item.ViewAttachFileTopic" width="150" controls />


                            }
                            else
                            {
                                <p>There is no AttachFile  </p>
                            }
                        </td>
                        <td width="15%">
                            <img class="img-fluid img-thumbnail" alt="@item.Name" src="/uploads/images/@item.ViewPosterTopic" />
                        </td>
                        <td>
                            <a href="/uploads/documents/@item.ViewDocumentTopic" download>Download Document</a>
                            <br />

                        </td>
                        <td>@item.Description</td>
                        <td>@item.Status</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="@Url.Action("Update", "Topic",new {id = item.Id})"> Edit</a>
                        </td>
                        <td>
                            <button id="@item.Id" class="btn btn-danger btn-sm js-delete-topic"> Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section javascripts
{
    <script src="/js/topic.js?v=@Timestamp"></script>
}